

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a, label{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar, a, label:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.rectSelected{
  stroke-width: .5;
  stroke: #5b2100;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
.closebtn:hover {
  color: #f1f1f1;
  cursor: pointer;
}

#main {
  transition: margin-left .5s;
  position: fixed;
  padding-bottom: 30px;
  padding-top: 50px;
}


#content {
  transition: margin-left .5s;
  position: absolute;
  padding-top: 100px;
  padding-left: 9%;
  left: 0;
  right:0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.topnav {
  overflow: hidden;
  background-color: #1E434C;
  position: fixed;
  left:0;
  right:0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #9B4F0F;
  color: white;
}